body{
    background-color: black;
    font-family: "Helvetica", sans-serif;
    color: #222;
}
.m2{
    display: flex;
    width: 100%;
   
}
.space{
    flex:1;
}
.profile-pic{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    float: right;
    padding-right: 10px;
    object-fit: cover;
}
main{
    flex:2;
    margin: 10px auto;
    background-color: whitesmoke;
    padding: 30px 30px 0px 30px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.8);
}
h1{
    text-align: center;
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    margin: 0;
    font-size: 36px;
    color: #2c3e50;
}
#para{
    text-align: justify;
}
span {
    font-family:'Montserrat', sans-serif;
    font-weight:500;
    color: #2c3e50;
}
.name{
    text-align: left;
    color: #2c3e50;
}
a{
    text-decoration: none;
    color: black;
}
.hea{
    font-weight: bold;
    padding: 10px 0px 0px 20px;
    
}
dd{
    margin:left 20px;
    text-align: justify;
}
a:hover{
    padding: 2px 2px;
    background-color: #0e7c86;
    color: #fff;
}
.text{
    text-align: left;
    text-decoration: none;
    text-shadow: 1px;
}