@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
.high{
    display:flex;
    width: 100%;
    flex-direction: row;
}
.fle{
    flex: 1;
   
}
#Mt{
    flex:4;
    display: flex;
    flex-direction: column;
    padding: 10px 30px 10px 30px;

}
.top{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.zeb{
    margin: 30px 30px 30px 0px;
}
.mid{
    flex: 2;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    gap: 2px;
    padding: 0px 20px 20px 20px;
    background-color: antiquewhite;
}
.bot{
    flex: 3;
}
.c{
    border-radius: 25px;
    margin: 5px 25px 10px 25px;
    padding: 5px 5px 5px 25px;
    background-color: rgb(255, 113, 5);
    
}
h1{
    text-align: center;
}
.cs{
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Merriweather', serif;
    font-size: 17px;
    font-weight: 5000;
    letter-spacing: 0.4px;
    font-weight: bold;
}



/* ------------------------------------------Animation ----------------------------------------- */

.c {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.c:hover
{
    box-shadow: 0 0 10px #ffd642,
              0 0 20px #ffe366,
              0 0 40px #f9c22a;
  transform: translateY(-2px);
}
/* --------------------------------------------footer ---------------------------------------------- */
#b{
    text-align: end;
}